.link-wrapper {
        display: flex;
        justify-content: flex-end;
        color: black;
        font-size: 1.5rem;
        margin: 1rem 1rem 0 0
}
.link{
    color: black;
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
}